<!DOCTYPE html>
{% load static %}
<html lang="ru">
<link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <header class="header h1">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <h2>Привет {{ request.user }}</h2>
        <div>
            {% if request.user.is_authenticated %}
                <a href=" {% url 'logout' %}" class="header a">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="header a">Войти</a>
            {% endif %}
        </div>
    </header>
    <body>
        <div class="notes">
            {% for note in notes %}
            <div class="note">
                <div class="note_btn">
                    <button class="delete-button"><a href="{% url 'delete' note.id %}"><img src="{% static 'images/1-1.png' %}" alt="My image" class="bin-img"></a></button>
                </div>
                <p><a href="{% url 'note' note.id %}">{{ note.title }}</a></p>
                <h4>{{note.content}}</h4>
                <a href=" {% url 'update' note.id %}">Редактировать</a>
            </div>
            {% endfor %}

            <div class="note">
                <h1><a href="{% url 'create' %}"> Новая заметка </a></h1>
            </div>
        </div>
</body>
</html>